@model Repository.Contexts.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MidleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MidleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Initial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Initial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Func)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Func)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotifTimerInterval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotifTimerInterval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDateDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDateDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDateHrs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDateHrs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDateMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDateMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReminderDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReminderDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReminderHrs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReminderHrs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReminderMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReminderMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SnoozeDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SnoozeDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SnoozeHrs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SnoozeHrs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SnoozeMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SnoozeMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoginTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogoutTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoutTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogErrCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogErrCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogRelCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogRelCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalDir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalDir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wavFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wavFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wallpaper)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wallpaper)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VChar1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VChar1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VChar2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VChar2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VChar3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VChar3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VChar4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VChar4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VChar5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VChar5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Int1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Int1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Int2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Int2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Int3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Int3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Int4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Int4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Int5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Int5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Float1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Float1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Float2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Float2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isDriver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDriver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isWorker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isWorker)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isDeliveryMan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDeliveryMan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
